asgiref==3.5.2
cffi==1.15.1
cryptography==38.0.3
Django==3.1.14
django-bootstrap-form==3.4
importlib-metadata==5.0.0
jaraco.classes==3.2.3
jeepney==0.8.0
keyring==23.9.3
more-itertools==9.0.0
pkginfo==1.8.3
pycparser==2.21
pytz==2022.6
SecretStorage==3.3.3
sqlparse==0.4.3
zipp==3.10.0
