{% extends 'base.html' %}
{% load bootstrap %}

{% block main %}
Edit
<form method="post">
    {% csrf_token %}
    {{ form|bootstrap }}

    <button type="submit" class="btn btn-main">Salvar</button>
</form>
<br />
<a href="{% url 'create_documento' object.id %}" class="btn btn-success">
    Adicionar documento
</a>
<br>
<h2>Documentos</h2>
<ul>
    {% for documento in object.documento_set.all %}
    <li>
        <a href="{{ documento.arquivo.url }} "> {{ documento.descricao }} </a><br>
    </li>
    {% endfor %}
</ul>

<br>
<h2>Registro de Horas</h2>
<ul>
    {% for registro_hora in object.registrohoraextras_set.all %}
    <li>
         {{ registro_hora.motivo }} | {{ registro_hora.horas }} <br>
    </li>
    {% endfor %}
</ul>


{% endblock %}