{% extends 'base.html' %}

{% block main %}
<div class="row">
    <div class="col-sm">
        Ola {{usuario.funcionario.nome}}
        <a href="{% url 'list_funcionario' %}">Gerenciar Funcionarios</a>
        <a href="{% url 'list_hora_extra' %}">Registro de Hora Extra</a>
    </div>
    <div class="col-sm">
        {% if usuario.funcionario.empresa %}
            <a href="{% url 'edit_empresa' usuario.funcionario.empresa.id %}">Editar Empresa</a>
        {% else %} 
            <a href="{% url 'create_empresa' %}">Criar Empresa</a>
        {% endif %}
    </div>
    <div class="col-sm">
        <a href="{ url 'logout' %}">Logout</a>
    </div>
    <div class="col-sm"></div>
        <a href="{% url 'list_departamentos' %}">Gerenciar Departamentos</a>
    </div>
</div>
{%endblock%}